body{
    background-color: aqua;
}

#rock{
    color: blue;
    font-size: larger;
    font-family: fantasy;
}

#paper{
    color: blueviolet;
    font-variant-position: inherit;
    font-family: serif;
}