#H0{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#H1{
    font-size: xx-large;
    font-style: normal;
    color: aqua;
}

#P1{
    font-size: x-large;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}

#P2{
    font-size: x-large;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}

#P3{
    font-size: x-large;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}

#P4{
    font-size: x-large;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}

main{
    margin-left: 20px;
    margin-right: 20px;
}

 ul{
    list-style-type: none;
    background-image: url(f2abbf-starfield.png);
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

 li a{
    color: rgb(219, 219, 219);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
 }

 a:hover{
    background-color: rgb(115, 182, 176);
}
li{
    float: left;
    color: rgb(0, 0, 0);
}
#pic1{
    margin-left: 30%;
}

#pic2{
    height: 440px;
}

#pic3{
    height: 400px;
}