h1{
    text-align: center;
    text-decoration: wavy;
    text-emphasis-color: rgb(255, 255, 255);
    color: aliceblue;
}
h2{
    border: 5%;
    border-color: aqua;
    color: aqua;
    border-radius: 100%;
    text-align: center;
}
#p1{
    color: rgb(8, 139, 179);
 font-size: x-large;
 border-style:groove;
border-width: 5px;
 border-color: antiquewhite;
 border-radius: 10px;
 padding: 5px;
 background-color: aliceblue;
}

#p0{
    color: rgb(8, 139, 179);
    font-size: x-large;
    border-style:groove;
   border-width: 5px;
    border-color: antiquewhite;
    border-radius: 10px;
    padding: 5px;
    background-color: aliceblue;
   }  

#p2{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    font-size: x-large;
    border-width: 5px;
    border-color: rgb(0, 253, 21);
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(0, 255, 98);
}

#H1{
    color: rgb(255, 255, 255);
    font-size: larger;
}

#H2{
    color: rgb(255, 255, 255);
    font-size: larger;
}

#H3{
    color: rgb(255, 255, 255);
    font-size: larger;  
}

#H4{
    color: rgb(255, 255, 255);
    font-size: larger;   
}

#pic1{
    position: absolute;
    margin-left: 83%;
}
#pic2{
    margin-left: 0px;
}
#pic3{
    margin-left: 500px;
}
#pic4{
 margin-top: 10px;
}
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
}
a:link{
    color: blue;
}
a:visited{
    color: gray;
}
a:hover{
    color: white;
}
a:active{
    color: chartreuse;
}

button{
    background-color:cyan;
    color: rgb(255, 255, 255);
    height: 100px;
    width: 300px;
    border-radius: 5px;
    font-size: x-large;
    text-align: center;
}

body{
    background-image: url(me\ pressly)
}

#container{
    width: 1000px;
    height: 1000px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-evenly;

}




#pic5{
    height: 450px;
    margin-left: 300px;
    margin-bottom: 0%;  
    
}


main{
    margin-left: 20px;
    margin-right: 20px;
}

 ul{
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

 li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

 a:hover{
    background-color: aqua;
}
li{
    float: left;
    color: rgb(255, 255, 255);
}